<div class="header">
    <div class="header-logo">Portfolio</div>
    <div class="header-list">
        <ul>
            <li><a href="/index">About_me</a></li>
            <li><a href="/prog">Programming_Languages</a></li>
            <li><a href="/cnct">Contact me</a></li>
        </ul>
    </div>
</div>