<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>

    <body>
        <%- include('header'); %>
        <div class="main">
            <div class="copy-container">
                <h2><%= lng.nm %></h2>
                <img src="<%= lng.img %>">
                <p><%= lng.info %></p>
            </div>
        </div>
    </body>
</html>